{% extends "staydine/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-light">Reset Your Password</h1>
    <div class="translucent-bg text-dark p-4 rounded shadow">
        <p>Enter your email address below, and we’ll send you a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}
